@page "/admin/ThongKe/SanPham"
@page "/admin/ThongKe/SanPham/page/{page:int}"
@using MinkyShopProject.Data.Models
@inject SweetAlertService Swal;
@inject HttpClient HttpClient;
@inject IJSRuntime JSRuntime

<div class="card">
    <div class="card-header pb-0 p-3">
        <div class="d-flex justify-content-between">
            <h6 class="mb-2">
                Thống kê Sản phẩm
            </h6>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <select class="form-control" @bind="@selectedTable">
                        <option value="sanphamSoLuong">Top10 Sản phẩm mua nhiều nhất (đã trừ trả hàng và hủy hàng)</option>
                        <option value="sanphamTien">Top10 Sản phẩm có doanh thu nhiều nhất (đã trừ trả hàng và hủy hàng)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <select class="form-control w-50" @onchange='async e => { selectedOption = e.Value?.ToString() ?? ""; await Reload(); }'>
                    <option value="homnay">Hôm nay</option>
                    <option value="homqua">Hôm qua</option>
                    <option value="7ngaytruoc">7 ngày trước</option>
                    <option value="thangtruoc">Tháng trước</option>
                    <option value="thangnay">Tháng này</option>
                </select>
            </div>
        </div>
        @if (selectedTable == "sanphamSoLuong")
        {
            <div class="table-responsive">
                <table class="table table-bordered align-middle text-center">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên sản phẩm</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Số lượng bán</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (SpBanNhieuNHatSoLuong == null)
                        {
                            <tr>
                                <td colspan="6">
                                    <span class="text-secondary text-xs font-weight-bold">Không có dữ liệu</span>
                                </td>
                            </tr>
                        }
                        else
                        {
                            if (SpBanNhieuNHatSoLuong.Data.Count > 0)
                            {
                                foreach (var x in SpBanNhieuNHatSoLuong.Data)
                                {
                                    <tr>
                                        <td style="width: 50%">
                                            <span class="text-secondary text-xs font-weight-bold">@x.Ten</span>
                                        </td>
                                        <td style="width: 50%">
                                            <span class="text-secondary text-xs font-weight-bold">@x.SoLuong</span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Không Có Dữ Liệu</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-bordered align-middle text-center">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên sản phẩm </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Doanh thu sản phẩm</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (SpBanNhieuNhatTien == null)
                        {
                            <tr>
                                <td colspan="6">
                                    <span class="text-secondary text-xs font-weight-bold">Không có dữ liệu</span>
                                </td>
                            </tr>
                        }
                        else
                        {
                            if (SpBanNhieuNhatTien.Data.Count > 0)
                            {
                                foreach (var x in SpBanNhieuNhatTien.Data)
                                {
                                    <tr>
                                        <td style="width: 30%">
                                            <span class="text-secondary text-xs font-weight-bold">@x.Ten</span>
                                        </td>
                                        <td style="width: 30%">
                                            <span class="text-secondary text-xs font-weight-bold">
                                                @((x.Tien / ((x.Tien >= 1000000000) ? 1000000000 : (x.Tien >= 1000000) ? 1000000 : 1))
                                                    .ToString((x.Tien >= 1000000) ? "N2" : "N0"))
                                                @((x.Tien >= 1000000000) ? "tỷ" : (x.Tien >= 1000000) ? "triệu" : "")
                                                đồng
                                            </span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Không Có Dữ Liệu</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
@code {
    [Parameter]
    public int Page { get; set; }
    private string selectedTable = "sanphamSoLuong";
    private string selectedOption = "homnay";
    Uri Url;
    ResponseObject<List<SpBanNhieuNHatSoLuong>> SpBanNhieuNHatSoLuong;
    ResponseObject<List<SpBanNhieuNHatTien>> SpBanNhieuNhatTien;

    protected async override void OnInitialized()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        if (selectedTable == "sanphamSoLuong")
        {
            Url = new Uri($"https://localhost:7053/api/ThongKe/SanPhamBanNhieuNhatSoLuong?loaiThongKe={selectedOption}");
            SpBanNhieuNHatSoLuong = await HttpClient.GetFromJsonAsync<ResponseObject<List<SpBanNhieuNHatSoLuong>>>(Url);
        }
        else if (selectedTable == "sanphamTien")
        {
            Url = new Uri($"https://localhost:7053/api/ThongKe/SanPhamBanNhieuNhatTien?loaiThongKe={selectedOption}");
            SpBanNhieuNhatTien = await HttpClient.GetFromJsonAsync<ResponseObject<List<SpBanNhieuNHatTien>>>(Url);
        }
    }

    async Task Reload()
    {
        await LoadData();
    }

}
